body {
    margin: 0;
    font-family: monospace;
  }
  
  #store-header {
    display: flex;
    justify-content: center;
    background: rgb(168, 212, 253);
    opacity: .8;
    height: 10rem;
    padding: 0rem;
  }

  #store-header img {
    height: 16rem;
    width: auto;
  }